.header {
  min-width: 1052px;
  min-height: 105px;
  margin-top: 92px;
  margin-left: 24px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header__menu {
  min-width: 391.48px;
  min-height: 22px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: large;
}
.list_item_without_circle {
  list-style: none;
  text-decoration: none;
}

.header__menu ul {
  display: flex;
  flex-direction: row;
  list-style: circle;
  text-decoration: underline;
}

.header__menu li {
  margin: 0px 19px;
  padding-top: 2px;
}

.header__logo {
  width: 145px;
  height: 105px;
  margin-left: -162px;
}

.header__contacts {
  box-sizing: border-box;
  width: 240.52px;
  height: 98px;
  margin: auto 0;
  font-size: larger;
  margin-right: 55px;
}

.cover {
  margin-top: 96px;
  width: 1100px;
  height: 757px;
  border: 1px solid seagreen;
  background-image: url("/images/cover.jpg");
  background-size: cover;
  position: absolute;
  z-index: -2;
}
.overlay {
  width: 1100px;
  height: 757px;
  position: absolute;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover__title {
  margin-top: 165px;
  margin-left: 50px;
  width: 1000px;
  height: 355px;
  position: absolute;
  z-index: 0;
  color: white;
  font-size: 100px;
  font-weight: bold;
  letter-spacing: 34px;
}

.span_left {
  display: block;
  text-align: left;
}

.span_center {
  display: block;
  text-align: center;
}
.span_right {
  display: block;
  text-align: right;
}

.cover__subline {
  display: flex;
  color: white;
  font-size: 22px;
}
.cover__description-text {
  width: 637px;
  height: 28px;
  word-spacing: 15px;
  margin: 667px -245px 62px 78px;
}
.bet-button {
    margin: 667px auto;

  border: 1px solid white;
  color: white;
  font-size: 22px;
  background-color: transparent;

  display: flex;
  align-items: center;
  justify-content: center;
}
